@media screen and (max-width:1000px) {
    .home h1 {
        font-size: 3rem;
    }

    .home h2 {
        font-size: 1rem;
    }

    .home .info h3 {
        font-size: 1rem;
    }

    .stackImage {
        font-size: 15rem;
    }

    .techIcon {
        width: 180px;
    }

    .project {
        width: 265px;
    }
}

@media screen and (max-width:700px) {
    .content {
        padding: 0px;
        width: 80%;
        margin: auto;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home h2 {
        font-size: 1.3rem;
        white-space: nowrap;
    }

    .home .info h3 {
        font-size: 1rem;
    }

    .stackImage,
    .homeContent {
        width: 100%;
    }

    .stackImage {
        font-size: 15rem;
    }

    .sectionTitle {
        font-size: 2rem;
    }

    .techIcon {
        width: 150px;
        height: 110px;
        padding: 15px;
    }

    .chatInfo {
        display: none;
    }

    .contactUsInfo form {
        width: 90%;
        margin: auto;
    }

    .cmButton {
        padding: 0.5rem 1rem;
    }

    /* .technologiesGrid{
       justify-content: center;
    }
    .techIcon {
        width: 20vw;
        height: 10px;
        padding: 10px;
    } */
}

@media screen and (max-width:400px) {
    .techIcon {
        width: 130px;

    }
}